/*@import "normalize.css";*/
@import url('https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Handlee');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Handlee', cursive;
  margin: 0;
  padding: 0;
  }

/*para sacarle el subrayando a las listas que componen el header*/
a {
  text-decoration: none;
  display: inline-block;
}

@-ms-viewport {
  width: device-width;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header { /*contiene el logo y la hamburguesa*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 0;
  margin: 0;
}

.logo {
  width: 100%;
  height: auto;
  margin: 0;
}

.toggle-nav {
  /*display: block;*/
  margin: 0;
  background-color: white;
  color: #333;
  width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 30px;
  /*padding: 5px 0;*/
}

.icon.ion-md-menu {
  display: block;
  width: 100%;
  font-size: 60px;
}

.main-nav1 {
  width: 100%;
}

.main-nav1 .nav1 {
  display: block;
  background-color: rgb(255, 153, 0);
  border-top: solid 1px #fff;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}


img {
  width: 80%;
}

/*.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}*/


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
